* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'open sans';
}                                   

a{
  text-decoration: none !important;
  align-items: center;
}

.contenedormenu {
	margin: auto;
	/* width: 100%; */
  /* max-width: 1200px; */
  padding: 0 20px;
}

/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
	background: #3E5777;
	padding: 5px 0;
	margin-bottom: 0px;
}

.menu .contenedor-botones-menu {
	/* display: flex; */
	display: none;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
	display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
	display: inline-block;
}

.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 50px;
   
}

.menu .btn-departamentos {
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 12px;
  cursor: default;
}

.menu .btn-departamentos p{
  margin: 0;
}

.logotamaño{
    width: 60px;
    padding-right: 10px;
}

.menu .btn-departamentos i {
	margin-left: 20px;
	position: relative;
	bottom: 3px;
}

.menu .btn-departamentos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departamentos span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}
.enlaces{
    display: block;
    padding: 12px;
    text-align: left;
}
.menu .contenedor-enlaces-nav .enlaces a {
    color: #ffffff;
    border: 1px solid transparent;
    padding: 7px;
	border-radius: 3px;
	font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
	border: 1px solid rgba(255,255,255,.4);
}

/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
  position: relative;
  margin-left: 20px;
}

.grid {
	width: 50%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 1000;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
    grid-template-areas: "categorias subcategorias subcategorias2";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
    border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
    grid-area: categorias;
    padding: 10px 0;
    overflow: auto;
    background: whitesmoke;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #000;
	font-size: 14px;
	display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px 20px;
}

.grid .categorias a i {
	display: none;
}

.grid .categorias a:hover {
	color: #DD1E21;
	font-weight: bold;
}

.grid .categorias a:hover i {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
    grid-area: subcategorias;
    display: none;
    padding: 0;
	  min-height: 220px;
    overflow: auto;
    background: whitesmoke;
}

.grid .contenedor-subcategorias2 {
    grid-area: subcategorias;
    display: none;
    padding: 0;
	  min-height: 220px;
    overflow: auto;
    background: whitesmoke;
}

.grid .contenedor-subcategorias a {
	color: #000;
	font-size: 14px;
	display: flex !important;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .contenedor-subcategorias2 a {
	color: #000;
	font-size: 14px;
	display: flex !important;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .contenedor-subcategorias a:hover {
	color: #DD1E21;
	font-weight: bold;
}

.grid .contenedor-subcategorias2 a:hover {
	color: #DD1E21;
	font-weight: bold;
}

.grid .contenedor-subcategorias a i {
	display: none;
}

.grid .contenedor-subcategorias a:hover i {
	display: inline-block;
}

.grid .contenedor-subcategorias2 {
    grid-area: subcategorias2;
    display: none;
}

.grid .subcategoria {
    display: none;
    padding: 10px 0;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
    height: 100%;
    text-align: center;
}

.grid .subcategoria2 {
    display: none;
    padding: 10px 0;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
    height: 100%;
    text-align: center;
}

.grid .subcategoria.activo {
    display: grid;
    padding: 0;
}

.grid .subcategoria2.activo {
    display: grid;
    padding: 0;
}

.grid .enlaces-subcategoria {
	padding: 10px 0;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria2 {
	padding: 10px 0;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria2 a {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
	color: #DD1E21;
}

.grid .enlaces-subcategoria2 a:hover {
	color: #DD1E21;
}

.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: #DD1E21;
	padding: 10px 20px;
}





.contenedor {
  padding: 25px 0 0px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo{
    color:  #19191a;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}


 
 
 .carrito{
   display: inline;
 }




.galeria-port{
  text-align: center;
  align-items: center;
  padding-top: 15px;
}

.imagen-port {
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 23.24%;
  margin: 20px 7.23px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .4);
}

.title{
  margin: 0;
}

.copy{
    color: #2a76da;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.item-price{
    font-size: 20px;   
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 5px;
}




input[type="radio"]{
  display: none;
}













.paginacion {
	margin:20px 0;
}
 
.paginacion ul {
	list-style:none;
	text-align: right;
}
 
.paginacion ul li {
	display:inline-block;
}
 
.paginacion ul li a {
	display:block;
	padding:3px 9px;
	color: #337AB7;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid rgb(172, 171, 169);
}
 
.paginacion ul li a:hover {
	background:#8fc8e4;
}
 
.paginacion ul li .pagina1 {
	background:#337AB7;
  font-weight:bold;
  color: #fff;
}

.cont-paginacion{
  padding: 20px 20px 0;
}

#catalogo2{
  display: none;
}

#catalogo3{
  display: none;
}

#catalogo4{
  display: none;
}

#catalogo5{
  display: none;
}

.HoverClass1:hover {background-color: #8fc8e4 !important;}



.info-categoria button{
  color: #fff;
  background: #3164a5;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 20px;
  padding: 5px 13px;
}

.imagen-port img{
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.info-categoria{
  
  height: 94px;
  margin: 8px 17px;

}

@media screen and (max-width:1500px){
  
  .contenedormenu{
    width: 100%;
  }

  .menu .contenedor-enlaces-nav {
    padding: 0 10px;
    margin: 0 30px;
	}
  
  .imagen-port{
    width: 23%;
  }
  .info-categoria{
    height: 90px;
  }

  .shopping-cart .contenedor{
    width: 90%;
  }
  .footer-padding{
    padding: 20px 50px;
  }
}

@media screen and (max-width:900px){
  .imagen-port{
    width: 44%;
  }
  .info-categoria{
    height: 90px;
  }  
  .footer-padding{
    padding: 20px 40px;
  }
}

@media screen and (max-width:800px){

  
  .menu .contenedormenu {
    width: 100%;
    padding: 0 10px;
    margin: 0;
}

.grid .categorias {
    background: #3E5777;
    width: 100%;
    text-align: center;
}

.grid .subcategoria {
    background: #3E5777;
    text-align: center;
}

.grid .subcategoria2 {
    background: #3E5777;
    text-align: center;
}

.grid .subcategoria a{
    color: #fff;
    margin: 20px 30px 30px;
    border-bottom: 1px dotted white;
    border-radius: 10px;
}

.grid .subcategoria2 a{
    color: #fff;
    margin: 20px 30px 30px;
    border-bottom: 1px dotted white;
    border-radius: 10px;
}

.grid .subcategoria h3{
    color: rgb(255, 251, 4);
    font-weight: bold;
    font-size: 15px;
}

.grid .subcategoria2 h3{
    color: rgb(255, 251, 4);
    font-weight: bold;
    font-size: 15px;
}

.grid .categorias a{
    color: #fff;
    margin: 20px 30px 30px;
    border-bottom: 1px dotted white;
    border-radius: 10px;
}

.grid .btn-regresar{
    background: rgb(212, 41, 11);
}

.grid .categorias h3{
    color: rgb(255, 251, 4);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.menu .contenedor-botones-menu {
    display: flex;
    width: 100%;
    margin: 0;
}



.menu .contenedor-enlaces-nav {
    padding: 20px;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
position: fixed;
left: 0;
background:#3E5777;
height: 100vh;
width: 60% !important;
z-index: 2000;
transition: .3s ease all;
transform: translate(-100%);
}

.menu .contenedor-enlaces-nav.activo {
    transform: translate(0%);
    width: 50%;
}

.menu .btn-departamentos {
width: 100%;
align-items: center;
justify-content: center;
    cursor: pointer;
    margin-top: 10px;
}

.menu .btn-departamentos i {
position: static;
margin-left: 20px;
transform: rotate(-90deg);
}

.menu .enlaces {
width: 100%;
}

.menu .enlaces a {
display: block;
margin: 20px 10px;
padding: 10px;
}

.grid {
display: grid;
transition: .3s ease all;
transform: translateX(-100%);
z-index: 3000;
width: 80%;
position: fixed;
top: 0;
left: 0;
height: 100vh;
grid-template-areas: "categorias categorias categorias categorias";
}

.grid.activo {
    transform: translateX(0%);
    width: 80%;
}

.grid::before {
display: none;
}

.grid .btn-regresar {
display: inline-block;
}

.grid .categorias .subtitulo {
display: block;
}

.grid .contenedor-subcategorias {
position: absolute;
top: 0;
width: 100%;
height: 100%;
transition: .3s ease all;
transform: translateX(-100%);
overflow: auto;
}

.grid .contenedor-subcategorias2 {
    position: absolute;
    background: #3E5777;
top: 0;
width: 100%;
height: 100%;
transition: .3s ease all;
transform: translateX(-100%);
overflow: auto;
}

.grid .contenedor-subcategorias.activo {
transform: translateX(0%);
}

.grid .contenedor-subcategorias2.activo {
transform: translateX(0%);
}

.grid .contenedor-subcategorias .subcategoria {
grid-template-columns: 1fr;
}

.grid .contenedor-subcategorias2 .subcategoria2 {
grid-template-columns: 1fr;
}

.grid .enlaces-subcategoria {
min-height: 50vh;
    overflow: auto;
    max-height: initial;
}

.grid .enlaces-subcategoria2 {
min-height: 50vh;
    overflow: auto;
    max-height: initial;
}

.grid .categorias a:hover i {
    display: none;
}

.grid .contenedor-subcategorias a:hover i {
    display: none;
}
  
}



.to-top {
  background: rgb(212, 4, 4);
  position: fixed;
  border-radius: 5px 0 0 5px; /* Borde del boton */
  bottom: 50%;
  right: 0px;
  padding: 5px 10px !important; /* Relleno del boton */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  color:#ffffff;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
  color:#ffffff;
}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
  border-radius: 5px 0 0 5px; /* Borde del boton */
  margin-bottom: 55px;
	background-color:rgb(212, 4, 4);
	padding: 5px 10px !important; /* Relleno del boton */
	position: fixed;
	bottom: 50px;
	right: 0px !important;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 





















@media screen and (max-width:500px){

  .carrito{
    display: none;
  }

  .titulo{
    font-size: 18px;
  }
  .menu .contenedor-enlaces-nav {
    padding: 0 10px;
  }
 
  .footer-padding{
    padding: 12px 20px;
  }
  .imagen-port{
    width: 90%;
  }
  .shopping-cart-header h6{
    font-size: 10px;
  }
  .shopping-cart-image{
    width: 30%;
  }
  .shopping-cart-item-title{
    font-size: 12px;
  }
  .shoppingCartItemPrice{
    font-size: 10px;
  }


  .shopping-cart-quantity-input{
    width: 45%;
    height: 60%;
  }
  
  .text-center{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .shopping-cart-total{
    font-size: 14px;
  }
  
}


/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}


.shopping-cart-total {
  min-height: 96px;
}






footer{
  background: #3E5777;
  padding: 20px 60px;
}

.final-page{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: auto;
}
.redes-sociales{
  display: flex;
  align-items: center;
}

.horario{
  text-align: right;
  color: #fff;
  padding: 0;
  margin-right: 3px;
}

.horario h5{
  font-size: 13.28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.horario p{
  padding-bottom: 2px;
}

.hora{
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.contacto-final{
  padding: 0 3px;
}

.titulo-final{
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  margin: 9px 0 0 0;
}

